
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Fonts
$font-src-bold: "/fonts/JosefinSans-Bold.ttf";
$font-src-semibold: "/fonts/JosefinSans-SemiBold.ttf";
$font-src-light: "/fonts/JosefinSans-Light.ttf";
$font-src-medium: "/fonts/Hind-Medium.ttf";
$font-src-regular: "/fonts/JosefinSans-Regular.ttf";

$font-family-bold: "JosefinSans Bold";
$font-family-semibold: "JosefinSans Semi Bold";
$font-family-light: "JosefinSans Light";
$font-family-medium: "Hind Medium";
$font-family-regular: "JosefinSans Regular";

// Size
$size-10: 10px;
$size-12: 12px;
$size-14: 14px;
$size-16: 16px;
$size-18: 18px;
$size-20: 20px;
$size-22: 22px;
$size-24: 24px;
$size-26: 26px;
$size-28: 28px;
$size-30: 30px;
$size-32: 32px;
$size-34: 34px;
$size-36: 36px;
$size-38: 38px;
$size-40: 40px;
$size-48: 48px;
